name: Run unit tests

on:
  - push
  - pull_request

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v2

    - name: Run unit tests and save report to junit xml
      uses: puppets-epic-show-theatre/action-pdk-test-unit@v1
